#input-search {
      width: 60%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

.search-row{

  text-align: center;
}

.images-item{
 
  height: 200px;
  width: 200px;
  margin:10px; 
}

.item-border{
margin: 10px;
   float:left;
  padding: 20px;
  border-bottom: solid;
  border-width: 1px;
  border-radius: 3px;
  overflow: auto;
}

.lists{
  float: left;
  width: 200px; 
  margin:10px;
  border-bottom: solid;
  border-width: 1px;
}

#menu{
  background-color: #7E90C5;
}

.navbar {
  padding-bottom: 0px

}

.main {
  margin:0px;
}

.image{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}